form.contact {
  width: 60%;
  margin: 50px auto 0;

  div {
    margin: 10px 0 0;
  }
  label {
    width: 120px;
    display: inline-block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 6px 0 6px 10px;
  }
}